<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
      right
      floating>
      <v-list>
              <v-list-tile avatar>
          <v-list-tile-avatar
            color="white"
          >
            <v-img
              src="/logo3.png"
              height="84"
              contain
            />
          </v-list-tile-avatar>

          <v-list-tile-title class="text-uppercase grey--text" >
            <span class="font-weight-light">Projeto &nbsp;</span>
            <span>Ser Presente</span>
          </v-list-tile-title>


        </v-list-tile>

        <v-divider/>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>


    <v-toolbar
    scroll-off-screen
      app
      color="white"
    >

      <v-toolbar-title />
           <nuxt-link to="/">
      <div >
        <span  class="text-uppercase primary--text font-weight-light title">Projeto</span>
        <span class="text-uppercase secondary--text title">Ser Presente</span>
      </div>
           </nuxt-link>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon @click="drawer = !drawer" />
    </v-toolbar>


    <v-content>
        <nuxt />
    </v-content>
    
  <v-footer
    dark
    app
    absolute
    height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="primary justify-center">
        <strong class="subheading">Ninguém é tão forte que não precise de ajuda e ninguém é tão fraco que não possa ajudar!</strong>
      </v-card-title>

      <v-card-actions class="grey darken-3 justify-center">
        &copy;2019 — <strong>boloko GmbH</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      items: [
        {
          icon: 'apps',
          title: 'página inicial',
          to: '/'
        },
        {
          icon: 'mdi-script-outline',
          title: 'nossa história',
          to: '/historia'
        },
        {
          icon: 'mdi-charity',
          title: 'participe',
          to: '/participe'
        },
        {
          icon: 'mdi-camera',
          title: 'galeria',
          to: '/media'
        },
        {
          icon: 'mdi-account',
          title: 'contato',
          to: '/contato'
        },
        {
          icon: 'mdi-calendar',
          title: 'agenda de entregas',
          to: '/agenda'
        },
        {
          icon: 'mdi-instagram',
          title: 'instagram',
          to: 'https://www.instagram.com/projetoserpresente/'
        }
      ],
      title: 'Projeto Ser Presente',
      icons: [
        'mdi-instagram'
      ]
    }
  }
}
</script>
<style scoped>
a {
  color: white;
}

</style>
