<template>
<div>
<v-card>
  <v-img
          src="https://cdn.vuetifyjs.com/images/lists/ali.png"
          height="300px"
        >
          <v-layout
            column
            fill-height
          >

            <v-card-title class="white--text pl-5 pt-5">
              <div class="display-1 pl-5 pt-5">Escolha como deseja doar</div>
            </v-card-title>
          </v-layout>
        </v-img>

              <div class="ma-3">
        <span class=" title"> Meta 2019: 4027 kg</span>
                <v-progress-linear height="15" color="info" value="30" indeterminate="true"> 30 </v-progress-linear>
        <span class="display-1 grey--text"> Atual: x kg</span>
      </div>
<v-tabs
    centered
    color="cyan"
    dark
    icons-and-text
  >
    <v-tabs-slider color="yellow"></v-tabs-slider>

    <v-tab href="#tab-1">
      Chocolates
      <v-icon>mdi-candycane</v-icon>
    </v-tab>

    <v-tab href="#tab-2">
      Dinheiro
      <v-icon>mdi-cash</v-icon>
    </v-tab>

    <v-tab href="#tab-3">
      Mão-de-obra?
      <v-icon>mdi-human-handsup</v-icon>
    </v-tab>

    <v-tab-item
      value="tab-1"
      key="1">
        
        <blockquote class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum maiores modi quidem veniam, expedita quis laboriosam, ullam facere adipisci, iusto, voluptate sapiente corrupti asperiores rem nemo numquam fuga ab at.</blockquote>

    </v-tab-item>

    <v-tab-item
      value="tab-2"
      key="2">

<v-data-iterator
      :items="items"
      row
      wrap
      hide-actions
      rows-per-page-items="3"
      content-tag="v-layout"
    >

      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        offset-sm3
      >
        <v-card class="ma-2">
          <v-card-title><h4>{{ props.item.name }}</h4></v-card-title>
          <v-divider></v-divider>
          <v-list dense>
            <v-list-tile>
              <v-list-tile-content>Agência:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.agencia }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Conta corrente:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.cc }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>CPF:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.cpf }}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-data-iterator>

    </v-tab-item>

    <v-tab-item
      value="tab-3"
      key="3">
          <v-hover>
    <v-card
      slot-scope="{ hover }"
      class="my-2 mx-auto"
      color="grey lighten-4"
      max-width="600"
    >
      <v-img
        :aspect-ratio="16/9"
        src="https://cdn.vuetifyjs.com/images/cards/kitchen.png"
      >
        <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal display-3 white--text"
            style="height: 100%;"
          >
            $14.99
          </div>
        </v-expand-transition>
      </v-img>
      <v-card-text
        class="pt-4"
        style="position: relative;"
      >
        <v-btn
          absolute
          color="orange"
          class="white--text"
          fab
          large
          right
          top
        >
          <v-icon>mdi-cart</v-icon>
        </v-btn>
        <div class="font-weight-light grey--text title mb-2">For the perfect meal</div>
        <h3 class="display-1 font-weight-light orange--text mb-2">QW cooking utensils</h3>
        <div class="font-weight-light title mb-2">
          Our Vintage kitchen utensils delight any chef.<br>
          Made of bamboo by hand
        </div>
      </v-card-text>
    </v-card>
  </v-hover>

    </v-tab-item>
  </v-tabs>
  </v-card>


  </div>
</template>

<script>
  export default {
    data () {
      return {
        model: 'tab-2',
        chocolate: 50,
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        items: [
        {
          name: 'Banco do Brasil',
          agencia: 1242,
          cc: 31231,
          cpf: 123123123,
        },
        {
          name: 'Banco do asdasd',
          agencia: 1242,
          cc: 31231,
          cpf: 123123123,
        },
        {
          name: 'Banco do xcbc',
          agencia: 1242,
          cc: 31231,
          cpf: 123123123,
        },
        {
          name: 'Banco do 3323',
          agencia: 1242,
          cc: 31231,
          cpf: 123123123,
        }
      ]
      }
    }
  }
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>