<template>
    <div>
        <v-parallax
    dark
    src="/criancas.jpg"
  >
    <v-layout
      align-center
      column
      justify-center
    >
      <h1 class="display-2 secondary--text">nossa história</h1>
      <h4 class="subheading"></h4>
    </v-layout>
  </v-parallax>

  <v-timeline
        align-top
        dense
      >
        <v-timeline-item
          v-for="(year, i) in years"
          :color="year.color"
          :key="i"
        >
          <v-layout pt-3>
            <v-flex xs3 mr-2>
              <strong>{{year.year}}</strong>
            </v-flex>
            <v-flex>
              <strong>{{year.title}}</strong>
              <div :class="`caption `">{{ year.text }}</div>
            </v-flex>
          </v-layout>
        </v-timeline-item>
      </v-timeline>

    </div>
</template>
<script>
  export default {
    data: () => ({
      years: [
        {
          color: 'primary',
          text: 'O Grupo Okida começa a fazer ovos de páscoa. Timidamente, os primeiros 40 ovos foram uma conquista. Durante três anos, fez-se desta maneira, até perceber-se a carência. Começa a perceber que entrega-se além de ovos de chocolate, dignidade, igualdade, felicidade e principalmente sorrisos.',
          title: 'Início',
          year: '2009 até 2011'
        },
        {
          color: 'secondary',
          year: '2012',
          text: 'O Grupo Okida contou com apoio de amigos e familiares e conseguiu produzir cerca de 900 ovos.'
        },
        {
          color: 'primary',
          year: '2013',
          text: 'A força da união dos amigos tomou conta e um volume maior de ovos foram confeccionados,  fortalecendo o espírito coletivo de ajudar o próximo. A meta inicial era de 1500 ovos. O resultado final: 2133 SORRISOS!'
        },
        {
          color: 'secondary',
          year: '2014',
          text: 'Vendo que muitas pessoas estão dispostas a ajudar e mudar o mundo para melhor, a ousadia e espírito de partilha tomaram conta das pessoas que compõe o grupo. Foram distribuídos 5038 sorrisos. O projeto contou com a participação de mais de 400 pessoas, crianças, jovens, adultos e idosos, movidos pela vontade de ser presente na vida dos menos favorecidos.'
        },
        {
          color: 'primary',
          year: '2015',
          text: 'Para que todos os ovos de páscoa pudessem ser entregues pelas mãos de nossos voluntários, o número de ovos de chocolate foi diminuído. Nesse ano, fizemos uma entrega de 1685 com maior intensidade e vivência deste momento tão especial.'
        },
        {
          color: 'secondary',
          year: '2016',
          text: 'Para conseguir atender as diversas entidades que solicitando nossa presença, e com o empenho de toda a comunidade, o número de ovos subiu para 2.762 sorrisos. Neste ano, as entregas chegaram até Bela Vista - MS, que havia sido atingida por uma enchente. O espaço de confecção foi ampliado para melhor organização e assim criou-se uma dinâmica de segurança, controle e higienização do ambiente e das pessoas, conforme o número de voluntários crescia.'
        },
        {
          color: 'primary',
          year: '2017',
          text: 'Foram entregues 4.502 sorrisos, chegando em cidades do interior como Rio Verde, Corguinho, e também na comunidade Quilombola Boa Sorte e na comunidade ribeirnha do Rio Miranda. O compromisso com sorrisos supera a distância!'
        }
      ]
    })
  }
</script>
<style>
h1 {
  font: italic bold 12px/30px Georgia, serif;
}
</style>
