<template>
  <div id="content">
    <section id="hero">
        <v-img src="/ovo.jpg" aspect-ratio=1.6>
          <v-layout
            column
            align-center
            class="white--text"
          >
            
            <!-- <h1 class="black--text mb-2 display-2 text-xs-center">Projeto Ser Presente</h1>
            <div class="subheading mb-3 text-xs-center">Campo Grande - MS</div> -->
            <!-- <v-btn
              class="primary lighten-2 mt-5"
              dark
              fab
              to="/doar"
            >
              ola
            </v-btn> -->
          </v-layout>
        </v-img>
    </section>

    <section id="sobre">
      <v-container grid-list-xl>
        <v-layout row wrap justify-center class="my-5">
          <v-flex xs12 sm12>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline text-uppercase">O projeto</div>
              </v-card-title>
              <v-card-text class="text-xs-center">
Ser presente significa contribuir para um mundo com menos diferenças. Este projeto distribui sorrisos que chegam em forma de ovos de páscoa. Ao confeccionar os ovos, atingimos um custo unitário muito inferior ao valor comercial dos ovos de páscoa, sendo possível atender mais crianças. Com o trabalho, também se perpetuam nas vidas dos voluntários valores de amor, respeito e dignidade.
              </v-card-text>

              <div class="text-xs-center pa-3">
                <v-btn outline color="primary" to="historia">Nossa história</v-btn>
              </div>

            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>



    <section id="cards">
      <v-layout
        column
        wrap
        class="my-2"
        align-center
      >
        <v-flex xs12 sm4 class="my-1">
          <div class="text-xs-center">
            <h2 class="headline">Nós precisamos de <b>VOCÊ!</b></h2>
            <span class="subheading">
              
            </span>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4>
                <v-card class="elevation-2" hover>
                  <v-img
                    src="/girl.jpg"
                    height="200px"
                  >
                  </v-img>
                  <v-card-title primary-title class="layout justify-center mb-0">
                    <div class="headline text-xs-center">FASE 1: ARRECADAÇÕES</div>
                  </v-card-title>
                  <v-card-text class="text-xs-center">
                    Para continuar espalhando sorrisos, precisamos de sua ajuda! Vamos ajudar? 
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card class="elevation-0" hover dark ripple @click="show = !show">
                  <v-card-text class="text-xs-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-egg-easter</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Confecção</div>
                  </v-card-title>
                  <v-card-text>
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti. 
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                      <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>

                  </v-card-actions>
                    <v-slide-y-transition>
                      <v-card-text v-show="show">
                        I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                      </v-card-text>
                    </v-slide-y-transition>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card class="elevation-3" style="border-radius: 30px" >
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                    height="200px"
                  >
                  </v-img>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Distribuição</div>
                  </v-card-title>
                  <v-card-text>
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti. 
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>

    <section id="parallax_voluntarios">
      <v-parallax src="/hero2.jpg" height="600">
        <v-layout column align-center justify-center>
          <div class="headline black--text mb-3 text-xs-center">Ajude-nos a distruir felicidade</div>
          <em class="black--text">Kick-start your application today</em>
          <v-btn
            class="blue lighten-2 mt-5"
            dark
            large
            href="/pre-made-themes"
          >
            Seja voluntário
          </v-btn>
        </v-layout>
      </v-parallax>
    </section>

    <!-- <section id="empresas">
      <v-layout
        column
        wrap
        class="my-5 grey lighten-3"
        align-center
      >
        <v-flex xs12 class="my-3">
          <div class="text-xs-center">
            <h2 class="headline">Empresas que apoiam o projeto</h2>
            <span class="subheading">
              
            </span>
          </div>
        </v-flex>
        
        <v-flex xs12>
          <v-container fluid grid-list-xl>
            <v-layout row wrap align-center>

                <v-flex xs6 md4 class="my-3"
                  v-for="empresa in empresas"
                  :key="empresa.nome">
                  <v-card flat class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">{{empresa.image}}</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">{{ empresa.nome }}</div>
                    </v-card-title>
                  </v-card>
                </v-flex>

            </v-layout>

              <div class="text-xs-center">
                <v-btn round color="primary">Seja uma empresa parceira</v-btn>
              </div>
              
          </v-container>
        </v-flex>
      </v-layout>
    </section> -->

    <!-- <section id="parallax_impactos">
      <v-parallax src="/hero.jpg" height="200">
        <v-layout column align-center justify-center>
          <div class="headline white--text mb-3 text-xs-center">Impactos</div>
          <em>Dos anos passados</em>
          <v-btn
            class="blue lighten-2 mt-5"
            dark
            large
            href="/blog"
          >
            Ver resultados
          </v-btn>
        </v-layout>
      </v-parallax>
    </section> -->

    <!-- <v-divider class="my-4" color="accent"></v-divider> -->

    <!-- <section id="depoimentos" background="accent">
        <v-layout
          column
          wrap
          class="my-5"
          align-center
          color="success"
        >
          <v-flex xs12 class="my-3  mx-auto">
            <div class="text-xs-center">
              <h2 class="headline">Depoimentos</h2>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card
                    color="#26c6da"
                    dark
                    class="py-2"
                  >
                    <v-card-title>
                      <v-icon
                        large
                        left
                      >
                        mdi-twitter
                      </v-icon>
                      <span class="title font-weight-light">Twitter</span>
                    </v-card-title>

                    <v-card-text class="headline font-weight-bold">
                      "6 eh 10"
                    </v-card-text>

                    <v-card-actions>
                      <v-list-tile class="grow">
                        <v-list-tile-avatar color="grey darken-3">
                          <v-img
                            class="elevation-6"
                            src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                          ></v-img>
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                          <v-list-tile-title>Jesus</v-list-tile-title>
                        </v-list-tile-content>

                        <v-layout
                          align-center
                          justify-end
                        >
                          <v-icon class="mr-1">whatshot</v-icon>
                          <span class="subheading mr-2">256</span>
                          <span class="mr-1">·</span>
                          <v-icon class="mr-1">share</v-icon>
                          <span class="subheading">27</span>
                        </v-layout>
                      </v-list-tile>
                    </v-card-actions>
                  </v-card>
                </v-flex>
                
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
    </section> -->

    <section id="contato">
      <v-container>
        <v-layout>
          <v-flex xs12 sm12 offset>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">Contato</div>
              </v-card-title>
              <v-card-text>
                Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
              </v-card-text>
              <v-list class="transparent">
                <v-list-tile>
                  <v-list-tile-action>
                    <v-icon class="blue--text text--lighten-2">phone</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>777-867-5309</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-action>
                    <v-icon class="blue--text text--lighten-2">place</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Chicago, US</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-action>
                    <v-icon class="blue--text text--lighten-2">email</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>john@vuetifyjs.com</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  data: () => ({
    length: 3,
    window: 0,
    show: false,
    empresas: [
    {
      nome: 'boloko LLC',
      image: 'mdi-adobe'
    },
    {
      nome: 'jorge LTDA',
      image: 'mdi-amazon'
    },
    {
      nome: 'yvfb Trademark',
      image: 'mdi-apple'
    },
    {
      nome: 'Empresa 3',
      image: 'mdi-android'
    },
    {
      nome: 'Empresa 3',
      image: 'build'
    },
    {
      nome: 'Empresa 3',
      image: 'build'
    }
  ]
  })
}
</script>
<style scoped>
#content {
  background-color:whitesmoke;
}
</style>

