<template>
    <div>

        <v-timeline>
    <v-timeline-item
      v-for="(year, i) in years"
      :color="year.color"
      :key="i"
      small
    >
      <span
        slot="opposite"
        :class="`headline font-weight-bold ${year.color}--text`"
        v-text="year.year"
      ></span>
 <v-card
    class="mx-auto text-xs-center"
    color="green"
    dark
    max-width="600"
  >
    <v-card-text>
      <v-sheet color="rgba(0, 0, 0, .12)">
        <v-sparkline
          :value="value"
          color="rgba(255, 255, 255, .7)"
          height="100"
          padding="24"
          stroke-linecap="round"
          smooth
        >
          <template
            slot="label"
            slot-scope="item"
          >
            ${{ item.value }}
          </template>
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <div class="display-1 font-weight-thin">Sales Last 24h</div>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions class="justify-center">
      <v-btn block flat>Go to Report</v-btn>
    </v-card-actions>
  </v-card>
    </v-timeline-item>
  </v-timeline>

         
    </div>
</template>
<script>
  export default {
    data: () => ({
      value: [
        423,
        446,
        675,
        510,
        590,
        610,
        760
      ],
      years: [
        {
          color: 'cyan',
          year: '1960'
        },
        {
          color: 'green',
          year: '1970'
        },
        {
          color: 'pink',
          year: '1980'
        },
        {
          color: 'amber',
          year: '1990'
        },
        {
          color: 'orange',
          year: '2000'
        }
      ]
    })
  }
</script>